doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        script(src="", defer) 
        title Document
    body 
    h1 PUG 
    nav 
        ul 
            li 
                a(href="http://localhost:8080/") HOME 
            li 
                a(href="http://localhost:8080/page2") PAGE 2
            li 
                a(href="http://localhost:8080/page3") PAGE 3
    block content 
    footer 
        p NIT&copy; 2022 