extends layout 
block content 
    h2 Sign up form
    form(action="/UserSignUp", method="post") 
        label(for="UserName") Please enter your name
        input(type="text", name="UserName")  
        br
        label(for="UserPassword") Please enter a password
        input(type="password", name="UserPassword")
        br
        input(type="submit", value="Sign Up") 
