<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/client_side.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>hello page 2</h1>
    <nav>
        <ul>
            <li><a href="http://localhost:8080/home">Home page</a></li>
            <li><a href="http://localhost:8080/page2">Page 2</a></li>
        </ul>
    </nav>
    
</body>
</html>