extends layout 
block content 
    h2 User Behavior Research 
    ul 
        li(class='itemTitle')  The effect of device usage on cognitive accuray
        div abstract
            span
                | : Over the past decade, increasing research attention
                | has been devoted to understanding the consequences of the
                | growing tendency of users to rely on mobile devices, in
                | particular smartphones, to accomplish diverse tasks.
                | Studies on the consequences of mobile use have repeatedly
                | highlighted the inferior performance of mobile users relative to that of personal computer (PC) users, largely due to the lower usability and higher search costs. Research, however, has yet to address the situation in which users perform tasks that require information processing without information search. Against this background, we propose that mobile task performance may be inferior in cognitive tasks, even when usability and search costs cannot be used as explanatory mechanisms, due to the predisposition of users to process information differently on different devices. This proposition is theoretically grounded in the classical distinction in the decision-making literature between System 1 and System 2 processing, as well as in cognitive load theory. We provide evidence in support of this proposition in two experiments. We find that mobile users perform worse (less accurately) than PC users do when the tasks demand high cognitive load. By contrast, when the tasks demand
                | low cognitive load, performance is comparable across
                | devices. 
            
        li(class='itemTitle') The effect of device usage on risk avoidance behavior 
        div abstract 
            span : This research-in-progress suggests that smartphone users
                | are more risk averse in their online behavior than PC
                | users, presumably because of their lower attention
                | and consequent tendency to avoid risky behavior.
                | We analyze data from a cyber security startup company,
                | which provides security solutions for domestic networks,
                | about online user behavior in all devices in a sample
                | of households. The analysis of about half a million URL
                | requests shows that the use of a smartphone is positively
                | associated with target URL safety, implying that a PC is
                | more likely to be used than a smartphone to target unsafe
                | URLs. Future stages of this study will include a controlled
                | experiment in which device and risk will be exogenously
                | manipulated. This work contributes to the mobile use
                | literature, as well as to the security and privacy
                | literature, by highlighting device-related boundary
                | conditions in the susceptibility of users to phishing
                | attacks.
        li(class='itemTitle') The effect of device usage on information disclosure
        div abstract
            span
                | : Drawing on foot-in-the-door theory, we identify two
                | structural mechanisms in sign-up procedures that are
                | hypothesized to increase the willingness of online service
                | users to reveal private information (information revelation)
                | and to become active users (conversion). The two mechanisms
                | are presenting information items in an ascending
                | privacy-intrusion order (vs. a non-ascending order) and on
                | multiple pages (vs. a single page), both applying the
                | reasoning of gradualism advocated by foot-in-the-door
                | theory. To test these hypothesized effects, as well as
                | the moderating effects of the device being used (mobile
                | vs. PC), we perform two digital experiments. The results
                | of the first experiment&mdash;a field experiment conducted in
                | collaboration with an international FinTech startup company
                | that provides digital banking services&mdash;provide support for
                | our hypotheses about the positive effects of the two
                | foot-in-the-door mechanisms on information revelation
                | and conversion, as well as partial support for the effects
                | of the device.
            
        li(class='itemTitle') The effect of device usage on online dating
        div abstract
            span : Online dating has replaced traditional offline venues largely due to the structured presentation of visual and verbal information about potential partners. 
                | This study shows that including verbal information alongside 
                | visual information in online dating profiles affects 
                | attractiveness assessments by women more favorably than 
                | it affects those by men. These gender differences, however, 
                | are mitigated by use of a mobile device instead of a PC. 
                | The findings extend the selectivity model, as well as the 
                | literature on online dating and mobile use, by highlighting 
                | gender differences in processing specific information types 
                | and by identifying the device as a boundary condition.
        li(class='itemTitle') The effect of device usage on online learning
        div abstarct
            span : When the covid-19 pandemic broke out in early 2020, educational institutions (schools, colleges, and universities), as well as other organizations engaged in educational or training programs, had to shift to online learning overnight. Face-to-face lectures in a classroom were swiftly replaced by remote online learning on a massive scale. 
                | The rapid nature of the shift to online learning meant that many people around the world were forced to learn under suboptimal conditions, which they had little opportunity to improve. In light of these circumstances, our research seeks to shed light on how individuals might achieve positive online learning outcomes, given that such learning must take place under certain constraints. 
                | We focus on device availability - a crucial condition for participating in online lessons - and specifically compare between smartphone users and PC users in terms of the efficacy of different lecture formats. 
                | We conducted two digital experiments to test the differences in learning result continent to the device of use and lecture format (with or without a break). 
                | Our results show that providing users with a break between two parts of a lecture will have a more significant positive effect on the learning outcomes of mobile users than on those of PC users. 
                | One possible explanation for these results is the lower attention mobile users have in comparison to PC users.
        li(class='itemTitle') The effect of images in zoom meatings on resolving conflicts