<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Find customer by name</h1>
    <form action="/findCustomer" method="get">
        <label for="SearchName">name</label>
        <input type="text" name="SearchName" id="SearchName">
        <input type="submit" value="SEARCH">
    </form>
</body>
</html>