<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>SIGN UP</h1>
    <form action="/insertUserintoDB" method="post">
        <label for="SignUpName">Name</label>
        <input type="text" name="SignUpName" id="SignUpName" required>
        <label for="SignUpEmail">Email</label>
        <input type="email" name="SignUpEmail" id="SignUpEmail">
        <input type="submit" value="Sign Up">
    </form>
</body>
</html>