*{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    padding-right: 5%;
}

table {
    border: 0.5px solid blue;
}

td {
    border-bottom: 0.5px solid blue;
}